<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value ="www.facebook.com"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test.PersonalLoan"/>
      </classes>
      </test>
      <test name= "carloan">
      <classes>
        <class name="Test.Carloan">
        <methods>
        <exclude name ="interestrate"/>
        </methods>
        </class>
        </classes>
        </test>
        <test name ="homeloan">
      <classes>
         <class name="Test.HomeLoan">
   <methods>
        <exclude name ="Home.*"/>
        </methods>
        </class>
        </classes>  
  </test> <!-- Test -->
</suite> <!-- Suite -->
